<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.mobidebits" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_mobidebits"
        android:label="@string/app_name" >

        <!-- TELA INICIAL: LOGIN: LAUNCHER -->
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- TELA: HOME -->
        <activity android:name=".activities.HomeActivity" />
        <!-- TELA: DIVIDAS -->
        <activity android:name=".activities.ListarDividasActivity" />
        <!-- TELA: CADASTRO DIVIDAS -->
        <activity android:name=".activities.CadastrarDividaActivity" />

    </application>

</manifest>
